/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Alfa Admin - Responsive Admin Template
Last change:    25/11/17
Primary use:    Alfa Admin - Responsive Admin Template
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Body, layout
2. Header
3. Sidebar
4. Form-element and progress bar
5. Box
6. User card
7. tab
8. google map
9. wizard
10. weather
11. Chat and info-box
12. timeline
13. Button
14. callout
15. tab
16. pagination
17. data table
18. direct-chat
19. modal
20. widget
21. treevie
22. mailbox
23. lockscreen
24. login-box
25. social btn
26. color Skin

-------------------------------------------------------------------*/


/******************* 
import icon and fonts Styles 
*******************/


/*------------------------------------------------------------------

[Typography]

Body :      Poppins, sans-serif;
-------------------------------------------------------------------*/

/*Body, layout*/

.img-fluid{
    width: 100%;
}
.wrapper {
    position: relative;
}
.fixed .wrapper, .main-header .logo, .user-panel {
    overflow: hidden;
}
.wrapper:after, .wrapper:before {
    content: " ";
    display: table;
}
.layout-boxed .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    min-height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    position: relative;
}
.layout-boxed {
    background: url(../../images/boxed-bg.png) fixed;
}
.content-wrapper, .main-footer {
    -webkit-transition: -webkit-transform .3s ease-in-out, margin .3s ease-in-out;
    -moz-transition: -moz-transform .3s ease-in-out, margin .3s ease-in-out;
    -o-transition: -o-transform .3s ease-in-out, margin .3s ease-in-out;
    transition: transform .3s ease-in-out, margin .3s ease-in-out;
    margin-left: 230px;
    z-index: 820;
}
.layout-top-nav .content-wrapper, .layout-top-nav .main-footer {
    margin-left: 0;
}
@media (min-width:768px) {
    .sidebar-collapse .content-wrapper, .sidebar-collapse .main-footer {
    margin-left: 0;
}
}.content-wrapper {
    min-height: 100%;
    background-color: #f4f6f9;
    z-index: 800;
}
.main-footer {
    background: #fff;
    padding: 15px;
    color: #455a64;
    border-top: 1px solid #d2d6de;
}
.main-footer .nav{
    margin-top: -10px;
}
.fixed .left-side, .fixed .main-header, .fixed .main-sidebar {
    position: fixed;
}
.fixed .main-header {
    top: 0;
    right: 0;
    left: 0;
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 50px;
}
@media (max-width:767px) {
    .content-wrapper, .main-footer {
    margin-left: 0;
}
.sidebar-open .content-wrapper, .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 100px;
}
}.fixed.layout-boxed .wrapper {
    max-width: 100%}
.hold-transition .content-wrapper, .hold-transition .left-side, .hold-transition .main-footer, .hold-transition .main-header .logo, .hold-transition .main-header .navbar, .hold-transition .main-sidebar, .hold-transition .menu-open .fa-angle-left, .hold-transition .right-side {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.content {
    min-height: 250px;
    padding: 20px;
    margin-right: auto;
    margin-left: auto;
}

/*sidebar*/


/*User card page*/


/*Vertical tabs*/



/*Custom vertical tab*/


/*---Notification---*/

/*---fullscreen---*/
[data-provide~="boxfull"].is-fullscreen .fullscreen-default, [data-provide~="fullscreen"].is-fullscreen .fullscreen-default {
    display: none;
}
[data-provide~="boxfull"].is-fullscreen .fullscreen-active, [data-provide~="fullscreen"].is-fullscreen .fullscreen-active {
    display: inline-block;
}
[data-provide~="boxfull"] .fullscreen-active, [data-provide~="fullscreen"] .fullscreen-active {
    display: none;
}

/*---badges---*/

/*---mask Formatter---*/



/*---Statistic widgets---*/

/*---box nav-tab---*/














/*-----------------*/   
    
.box-comments {
    background: #f7f7f7;
}
.box-comments .box-comment {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}
.box-comments .box-comment:after, .box-comments .box-comment:before {
    content: " ";
    display: table;
}
.box-comments .box-comment:after {
    clear: both;
}
.box-comments .box-comment:last-of-type {
    border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
    padding-top: 0;
}
.box-comments .box-comment img {
    float: left;
}
.box-comments .comment-text {
    margin-left: 40px;
    color: #555;
}
.box-comments .username {
    color: #455a64;
    display: block;
    font-weight: 600;
}
.box-comments .text-muted {
    font-weight: 300;
    font-size: 12px;
}
.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
}
.todo-list>li {
    border-radius: 2px;
    padding: 10px;
    background: #ebebeb;
    margin-bottom: 2px;
    color: #455a64;
}
.control, .todo-list>li:last-of-type {
    margin-bottom: 0;
}
.control {
    font-family: arial;
    display: inline;
    padding-left: 0;
    padding-top: 0;
    cursor: pointer;
    font-size: 16px;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control_indicator {
    position: absolute;
    top: 2px;
    left: 5px;
    height: 15px;
    width: 15px;
    background: #fff;
}
.control-radio .control_indicator {
    border-radius: undefined;
}
.control input:focus~.control_indicator, .control:hover input~.control_indicator {
    background: #fff;
}
.control input:checked:focus~.control_indicator, .control input:checked~.control_indicator, .control:hover input:not([disabled]):checked~.control_indicator {
    background: #398bf7;
}
.control input:disabled~.control_indicator {
    background: #e6e6e6;
    opacity: .6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked~.control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled~.control_indicator:after {
    border-color: #7b7b7b;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
td .label {
    font-size: 100%;
}
.badge{
    font-weight: normal;
}
.todo-list>li>input[type=checkbox] {
    margin: 0 10px 0 5px;
}
.todo-list>li .text {
    display: inline-block;
    margin-left: 30px;
    font-weight: 600;
}
.todo-list>li .label {
    margin-left: 10px;
    font-size: 9px;
}
.todo-list>li .tools {
    display: none;
    float: right;
    color: #ef5350;
}
.todo-list .handle, .todo-list>li:hover .tools {
    display: inline-block;
}
.todo-list>li .tools>.fa, .todo-list>li .tools>.glyphicon, .todo-list>li .tools>.ion {
    margin-right: 5px;
    cursor: pointer;
}
.todo-list>li.done {
    color: #67757c;
}
.todo-list>li.done .text {
    text-decoration: line-through;
    font-weight: 500;
}
.todo-list>li.done .label {
    background: #d2d6de;
}
.todo-list .danger {
    border-left-color: #ef5350;
}
.todo-list .warning {
    border-left-color: #fec107;
}
.todo-list .info {
    border-left-color: #398bf7;
}
.todo-list .success {
    border-left-color: #00c292;
}
.todo-list .primary {
    border-left-color: #398bf7;
}
.todo-list .handle {
    cursor: move;
    margin: 0 5px;
}
.list-inline>li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/*chat*/
.chat {
    padding: 5px 20px 5px 10px;
}
.chat .item {
    margin-bottom: 10px;
}
.chat .item:after, .chat .item:before {
    content: " ";
    display: table;
}
.chat .item>img {
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-radius: 5px;
}
.chat .item>.online {
    border: 2px solid #00c292;
}
.chat .item>.offline {
    border: 2px solid #ef5350;
}
.chat .item>.message {
    margin-left: 55px;
    margin-top: -40px;
    color: #67757c;
}
.chat .item>.message>.name {
    display: block;
    font-weight: 600;
}
.chat .item>.attachment {
    border-radius: 3px;
    background: #d6ecff;
    margin-left: 65px;
    margin-right: 15px;
    padding: 10px;
}
.chat .item>.attachment .pull-right .btn {
    top: 10px;
    position: relative;
    border-radius: 5px;
}
.chat .item>.attachment>h4 {
    margin: 0 0 5px;
    font-weight: 600;
    font-size: 14px;
}
.chat .item>.attachment>.filename, .chat .item>.attachment>p {
    font-weight: 600;
    font-size: 13px;
    font-style: italic;
    margin: 0;
}
.chat .item>.attachment:after, .chat .item>.attachment:before {
    content: " ";
    display: table;
}
.info-box, .info-box-icon, .info-box-more, .info-box-number {
    display: block;
}
.box-input {
    max-width: 200px;
}
.modal .panel-body {
    color: #455a64;
}
.model_img {
    cursor: pointer;
}
/*INFO BOX*/
.info-box {
    min-height: 100px;
    background: rgb(200, 227, 204);
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px gray;


}
.info-box small {
    font-size: 14px;
}
.info-box .progress {
    background: rgba(0, 0, 0, .2);
    margin: 5px -10px 5px 0;
    height: 2px;
}
.info-box .progress, .info-box .progress .progress-bar {
    border-radius: 0;
}
.info-box .progress .progress-bar {
    background: #fff;
}
.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 74px;
    background: #33bf7a;
    border-radius: 100%}
.info-box-icon.push-bottom {
    margin-top: 20px;
}
.info-box-icon>img {
    max-width: 100%}
.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}
.info-box-number {
    font-weight: 300;
    font-size: 21px;
}
.info-box-text, .progress-description {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 300;
}
.progress-description {
    margin: 0;
}
/*timeline*/
.timeline {
    position: relative;
    margin: 0 0 30px;
    padding: 0;
    list-style: none;
}
.timeline:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #c9d8e0;
    left: 33px;
    margin: 0;
    border-radius: 2px;
}
.timeline>li {
    position: relative;
    margin-right: 10px;
    margin-bottom: 15px;
}
.timeline>li:after, .timeline>li:before {
    content: " ";
    display: table;
}
.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #455a64;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}
.timeline>li>.timeline-item>.time {
    color: #67757c;
    float: right;
    padding: 10px;
    font-size: 12px;
}
.timeline>li>.timeline-item>.timeline-header {
    margin: 0;
    color: #555;
    border-bottom: 1px solid #f4f4f4;
    padding: 10px;
    font-size: 16px;
    line-height: 1.1;
}
.timeline>li>.timeline-item>.timeline-header>a {
    font-weight: 600;
}
.timeline>li>.timeline-item>.timeline-body, .timeline>li>.timeline-item>.timeline-footer {
    padding: 10px;
}
.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #67757c;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}
.timeline>.time-label>span {
    font-weight: 600;
    padding: 5px 10px;
    display: inline-block;
    background-color: #fff;
}
.btn-circle, .btn-rounded {

}
.timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.timeline-inverse>li>.timeline-item>.timeline-header {
    border-bottom-color: #ddd;
}
/*Button*/
.btn.dropdown-toggle::after, .btn-group-vertical .btn.dropdown-toggle::after {
    display: none;
}
button.btn.dropdown-toggle::after, .wysihtml5-toolbar .btn.dropdown-toggle::after{
    display: inline-block;
}
.dropdown-toggle.no-caret::after, button.btn.dropdown-toggle.no-caret::after {
    display: none;
}
.btn {
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;
    line-height: inherit;
}
.btn-circle {
    border-radius: 100%;
}
.btn-rounded {
        border-radius: 60px;
}
.btn-group-vertical>.btn:first-child:not(:last-child), .btn-group-vertical>.btn:last-child:not(:first-child), .btn.btn-flat {
    border-radius: 0;
}
.btn.btn-flat {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn:focus {
    outline: 0;
}
.btn, .btn:hover {
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.btn.btn-file {
    position: relative;
    overflow: hidden;
}
.btn.btn-file>input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: 0;
    background: #fff;
    cursor: inherit;
    display: block;
}
.btn-app, .pagination li a, table.text-center, table.text-center td, table.text-center th {
    text-align: center;
}
.btn-xs, .btn-group-xs>.btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    background-color: #f4f4f4;
    color: #455a64;
    border-color: #ddd;
}
.btn-default.hover, .btn-default:active, .btn-default:hover {
    background-color: #e7e7e7;
}

.btn-link {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn[class*=bg-]:hover {
    -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 100px rgba(0, 0, 0, .2);
}
.btn-app {
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    color: #67757c;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 12px;
    overflow: visible;
}
.btn-app .badge{
    font-size: 100%;
}
.btn-app.bg-aqua, .btn-app.bg-blue, .btn-app.bg-green, .btn-app.bg-light-blue, .btn-app.bg-maroon, .btn-app.bg-navy, .btn-app.bg-olive, .btn-app.bg-purple, .btn-app.bg-red, .btn-app.bg-teal, .btn-app.bg-yellow {
    border: none;
}
.alert, .callout {
    border-radius: 0px;
}
.btn-app>.fa, .btn-app>.glyphicon, .btn-app>.ion {
    font-size: 20px;
    display: block;
}
.btn-app:hover {
    background: #f4f4f4;
    color: #455a64;
    border-color: #aaa;
}
.callout .highlight, .callout code, .wysihtml5-toolbar .btn-default {
    background-color: #fff;
}
.btn-app:active, .btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.btn-app>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-weight: 300;
}
.blockquote {
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    border-left: .25rem solid #eceeef;
}
.blockquote-reverse {
    padding-right: 1rem;
    padding-left: 0;
    text-align: right;
    border-right: .25rem solid #eceeef;
    border-left: 0;
}
@media (min-width: 768px){
.dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-horizontal dd {
    margin-left: 180px;
}
}
.alert h4, .callout h4, .nav-pills>li.active>a, .products-list .product-title {
    font-weight: 600;
}
/*---*/

.btn:hover {
  cursor: pointer;
}

.btn:focus, .btn.focus, .btn:active, .btn.active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-bold {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn-group-xs > .btn,
.btn-xs {
  font-size: 11px;
  padding: 2px 8px;
  line-height: 18px;
}

.btn-group-xs > .btn.btn-bold,
.btn-xs.btn-bold {
  font-size: 9px;
}

.btn-group-sm > .btn,
.btn-sm {
  font-size: 12px;
  padding: 4px 12px;
  line-height: 20px;
}

.btn-group-sm > .btn.btn-bold,
.btn-sm.btn-bold {
  font-size: 11px;
}

.btn-group-lg > .btn,
.btn-lg {
  font-size: 15px;
  padding: 7px 20px;
  line-height: 32px;
}

.btn-group-lg > .btn.btn-bold,
.btn-lg.btn-bold {
  font-size: 14px;
}

.btn-w-xs {
  width: 85px;
}

.btn-w-sm {
  width: 100px;
}

.btn-w-md {
  width: 120px;
}

.btn-w-lg {
  width: 145px;
}

.btn-w-xl {
  width: 180px;
}

.btn-round {
  border-radius: 10rem;
}
.btn-sq,
.btn-square {
  padding: 5px;
  width: 36px;
  height: 36px;
}

.btn-sq.btn-lg,
.btn-square.btn-lg {
  width: 48px;
  height: 48px;
}

.btn-sq.btn-sm,
.btn-square.btn-sm {
  width: 29px;
  height: 29px;
}

.btn-sq.btn-xs,
.btn-square.btn-xs {
  width: 24px;
  height: 24px;
}

.btn-primary {
  /*background-color: #ab8ce4;
  border-color: #ab8ce4;
  color: #fff;
  */
}

.btn-primary:hover {
  background-color: #52d3c7;
  border-color: #52d3c7;
  color: #fff;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #ab8ce4;
  border-color: #ab8ce4;
  opacity: 0.5;
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #2ba99d;
  border-color: #2ba99d;
  color: #fff;
}

.btn-success {
  background-color: #00c292;
  border-color: #00c292;
  color: #fff;
}

.btn-success:hover {
  background-color: #16d17f;
  border-color: #16d17f;
  color: #fff;
}

.btn-success:focus, .btn-success.focus {
  color: #fff;
}

.btn-success.disabled, .btn-success:disabled {
  background-color: #00c292;
  border-color: #00c292;
  opacity: 0.5;
}

.btn-success:active, .btn-success.active,
.show > .btn-success.dropdown-toggle {
  background-color: #14b56f;
  border-color: #14b56f;
  color: #fff;
}

.btn-info {
  background-color: #03a9f3;
  border-color: #03a9f3;
  color: #fff;
}

.btn-info:hover {
  background-color: #65bdf8;
  border-color: #65bdf8;
  color: #fff;
}

.btn-info:focus, .btn-info.focus {
  color: #fff;
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #03a9f3;
  border-color: #03a9f3;
  opacity: 0.5;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  background-color: #2ba3f6;
  border-color: #2ba3f6;
  color: #fff;
}


/*callout*/

/*modal*/

/*lable floting*/

/*---------add-----------*/

.text-danger, .text-red {
    color: #ef5350;
}
.text-white {
    color: #fff;
}
.text-warning, .text-yellow {
    color: #fec107;
}
.text-aqua, .text-info {
    color: #398bf7;
}
.text-blue {
    color: #398bf7;
}
.text-light-blue {
    color: #398bf7;
}
.text-green, .text-success {
    color: #00c292;
}
.text-gray {
    color: #d2d6de;
}
.text-navy {
    color: #001f3f;
}
.text-teal {
    color: #39cccc;
}
.text-olive {
    color: #7dab2e;
}
.text-lime {
    color: #01ff70;
}
.text-orange {
    color: #f7941d;
}
.text-fuchsia {
    color: #f012be;
}
.text-purple {
    color: #926dde;
}
.text-maroon {
    color: #8C1919;
}
.text-black, .text-inverse {
    color: #000;
}
