.info-box {
    min-height: 100px;
    background: #fff;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
}


.info-box-icon {
    float: left;
    height: 70px;
    width: 70px;
    
    
    background: rgba(0, 0, 0, .2);
    border-radius: 100%}
.info-box-icon.push-bottom {
    margin-top: 20px;
}
.info-box-icon>img {
    max-width: 100%}
.info-box-content {
    padding: 10px 10px 10px 0;
    margin-left: 90px;
}
.info-box-number {
    font-weight: 300;
    font-size: 21px;
}
.info-box-text, .progress-description {
    display: block;
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    
}




