 /* == GENERAL == */

 body {
 	padding-top:50px;
 	background: url('../img/texture.png');
 }

 .wrap {
	padding-top: 25px;
	padding-bottom: 25px;
 }

 .header-section {
 	text-align: center;
 	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
 }

 h1 {
 	font-family: 'graduate', cursive;

 }


/*FONTS*/

/* graduate-regular - latin */
@font-face {
  font-family: 'Graduate';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/graduate-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Graduate'), local('Graduate-Regular'),
       url('fonts/graduate-v4-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/graduate-v4-latin-regular.woff2') format('woff2'),
       url('fonts/graduate-v4-latin-regular.woff') format('woff'),
       url('fonts/graduate-v4-latin-regular.ttf') format('truetype'),
       url('fonts/graduate-v4-latin-regular.svg#Graduate') format('svg');
}




/* -- HEADER -- */
h2 {
	font-family: 'pacifico', cursive;
}

  #title-enroll .jumbotron {
  	margin-top: 15px;
  	background: url('../img/australia_small.jpg') 50% 0 no-repeat fixed;
  	-webkit-font-smoothing: antialiased;
  	text-rendering: optimizelegibility;
  	text-align: center;
  	color: white;
  }


.navbar {
	padding-bottom: 5px;
	margin-bottom: 2;
	height: 80px;
}



.jumbotron {
	background:#428BCA;
	color:#fff;
	padding:20px 0;
}

.logo-home{
	height: 60px;
	width: 60px;
}

.navbar .nav-title{
	padding-top: 25px;
	color:gray;
	font-size: 1.5em;
}

.msg-submit{
	color: white;
}



/* -- Media Querie -- */
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}

/* ==  FEATURES == */
#system-features {
	background-color: white;
	text-align: center;
}

#system-features i {
	margin-top: 20px;
}

.img-size {
	height: 85px;
	width: 85px;
}



/* == FOOTER  == */
#footer{
	padding: 20px;
	background: #22313f;
	color: white;
/*	width: 100%;
	position: absolute;
  	bottom: 0;*/
}

#footer a{
	color:#f5ab35;
}

#footer a:hover {
	color: #f9690e;
}


